include ../_variables
block top
doctype html
html(lang=lang)
	include ../parts/head
	body
		include ../parts/styles
		.main-wrap
			include ../parts/header
			main.main
				block content
			include ../parts/footer
		include ../parts/scripts
block bottom
